body {
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16;
    border: 20px solid darkred;
    background-color: black;
    color: bisque;
    width: auto;
    box-sizing: border-box;
    height: 200vh;
    overflow-x: hidden;
    position: relative;
}
.sq {
    width: 100px;
    height: 100px;
    border: 2px solid skyblue;
    box-sizing: border-box;
    text-align: center;
    line-height: 100px;
}
.rel1 {
    background-color: darkcyan;
    position: relative;
    top: 40px;
    left: 20px;
    z-index: 1;
}
.rel2 {
    background-color: chocolate;
    position: relative;
    bottom: 20px;
    z-index: 2;
}
.rel3 {
    background-color: crimson;
    position: relative;
    bottom: 100px;
    left: calc(100% - 100px);
    z-index: 3;
}
.abs1 {
    background-color: blueviolet;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 100;
}
.abs2 {
    background-color: blueviolet;
    position: absolute;
    top: 100px;
    left: 100px;
    z-index: 100; 
}
.container {
    position: relative;
    border: 2px dotted skyblue;
}
.fixed1 {
    background-color: darksalmon;
    position: fixed;
    top: calc(100vh - 100px);
    right: 20px;
    z-index: 300;
}