h1, body, p, ol, a:link, a:visited, a:hover, td{
    font-family: Verdana, sans-serif, Nunito;
}
h1 {
    font-size:50px; color:white;
}
body {
    background-image: url('http://127.0.0.1:5500/namu-darbai-001/meshkenai-background.jpg')
}
p {
    font-size:30px; color:white;
}
ol {
    font-size:30px; color:white;
}
a:link{
    color:white; background-color: transparent; text-decoration: none;
}
a:visited{
    color:white; background-color: transparent; text-decoration: none;
}
a:hover{
    color: red; background-color: transparent; text-decoration: underline
}
td {
    font-size:20px; color:white; background-color: rgba(128, 128, 128, 0.452);
}