.tete {
    font-size: 25px;
    color: aqua;
    margin: 0 10vw; 
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
  }
  .vaikas {
    font-size: 25px;
    color: aqua;
    margin: 0 40vw; 
    width: 100px;
    height: 100px;
    background: red;
    transition: width 2s, height 2s, transform 2s;
  }
  @keyframes rotation {
    from {transform: rotate(0deg);}
    to {transform: rotate(359deg);}
  }
   .tete:hover {
    display: inline-block;
    display: vaikas;
    width: 300px;
    height: 300px;
    /* -webkit-transform: rotate(360deg);
    animation: spin 1s linear infinite; */
    transform: rotate(360deg);
    animation: rotation 2s infinite linear;
  } 
  .tete .vaikas{
    visibility: hidden;
}


.tete:hover {
    visibility: visible;
}

