body {
  height: 300vh;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background-color: bisque;
}
header {
  background-color: white;
}
header > div {
  width: 100%;
  display: flex;
}
.keliaujantis {
  background-color: white;
  position: fixed;
}
.Mainmeniu {
  background-color: rgb(192, 173, 173);
  font-size: 30px;
  margin-left: 5vw;
}
.Mainmeniucentras1 {
  font-size: 30px;
  margin: 0 0 0 25vw;
}
.Mainmeniucentras2 {
  font-size: 30px;
}
.Mainmeniugalas {
  background-color: cadetblue;
  font-size: 30px;
  margin: 0 0 0 40vw;
}
.leibloklase1 {
  border: solid 1px black;
  border-radius: 5px;
}
.leibloklase1:hover {
  cursor: pointer;
  background-color: aquamarine;
}
.Antrinismeniu {
  height: 100px;
  width: 200px;
  top: 50px;
  left: 40vw;
  line-height: 30px;
  position: absolute;
  border: solid 1px black;
  border-radius: 10px;
  box-shadow: 5px 5px 5px;
  background-color: rgb(160, 207, 209);
  transform: translateY(-200px);
  transition: 1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
input:checked + .Antrinismeniu {
  transform: translateY(0px);
}
li {
  font-size: 30px;
  list-style: none;
}
li:hover {
  cursor: pointer;
}
.Tamsus:hover {
  background-color: rgb(168, 168, 168);
}
.Zhalias:hover {
  background-color: rgb(104, 187, 159);
}
a:visited {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
/* .pirmasparagrafas {
  margin: 250px;
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
} */
